#btn_aboutUs {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}

#aboutUs {
    background-color: #CCD2DD;
    margin-top: 10px;
    height: 555px;
}

#top {
    width: 100%;
}

#top1 {
    width: 35%;
}

#top2 {
    width: 67%;
}

#logo_eng {
    margin-top: -15px;
    margin-bottom: 0px;
    font-size: 159px;
    font-family: 'Berlin Sans FB';
    color: #596A85;
    /* width: 100%; */
    text-align: center;
    padding-left: 10px;
}

#logo_ko {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: bolder;
    color: #596A85;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 31%;
}


#about {
    background-color: #AAB5C6;
    color: #596A85;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    width: 94%;
    text-align: justify;
    
}

#sitemap {
    width: 100%;
    height: 100%;
    text-align: center;
}

#sitemap #sitemap_img {
    width: 95%;
    height: 290px;
    margin-top: 15px;
}