#btn_home {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    /* padding: 13px; */
    padding-left: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-around; */
    /* width: calc(100% / 2); */
    padding: 10px;
    padding-left: 0px;
}

#main_img {
    width: 100%;
    height: 315px;
}

#main_image p {
    font-size: 35px;
    font-family: 'Comic Sans MS';
    position: absolute;
    top: 27%;
    left: 43%;
}

#main_image span {
    color: #596A85;
}

#main_notice {
    background: #CCD2DD;
    height: 230px;
    width: 500px;
    margin-right: 4px;
    margin-top: 7px;
}

#main_notice p {
    margin-top: 0px;
    padding-left: 23px;
    padding-top: 13px;
    font-size: 26px;
    font-weight: bold;
}

#main_notice #notice {
    font-size: 20px;
    padding-left: 25px;
}

#main_memo {
    background: #CCD2DD;
    height: 229px;
    width: 520px;
    margin-top: 7px;
    margin-left: 7px;
    padding-left: 21px;
    padding-right: 20px;
}

#main_memo p {
    margin-top: 0px;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
}

#main_memo textarea {
    line-height: 265%;
    width: 98.5%;
    margin-top: 10px;
    border: #808080 2px solid;
    background: none;
    font-size: 25px;
}

#main_todo {
    width: 108%;
    height: 555px;
    background: #CCD2DD;
    /* margin-left: 24%; */
}

#main_todo p {
    margin-top: 6px;
    margin-bottom: 15px;
    padding-left: 34px;
    padding-top: 10px;
    font-size: 35px;
    font-weight: bold;
}

#main_todo #todo {
    width: 90%;
    height: 458px;
    background: #AFB8CA;
    margin-left: 20px;
    margin-right: 20px;
}

#main_todo form {
    font-size: 20px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 200%;
}

#main_todo input[type=text] {
    border: none;
    font-size: 20px;
    background: #AFB8C9;
    /* width: 100%; */
    height: 100%;
}

input::hover {
    border:none;
}