/* div {
    box-sizing: border-box;
} */

/* html {
    line-height: 1.15;
}   */
body {
    padding-left: 35px;
    padding-right: 35px;
    /* background-color: #E5E9EE; */
    width: 94%;
    height: 100%;
    /* display: inline-block; */
}

#main_nav {
    display: inline-block;
}

#main_nav p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 90px;
    font-family:'Berlin Sans FB';
    display: inline-block;
    color: #596A85;
}    

#main_nav nav {
    /* background-color: #E5E9EE; */
    display: inline-block;
    /* text-align: right; */
    font-size: 20px;
    /* width: 1350px; */
}

#main_nav a {
    color: black;
    text-decoration-line: none;
    display: inline-block;
    text-align: right;
    padding-inline: 57px;
    width: 117px;
}

#main_footer {
    width: 100%;
    text-align: center;
    font-size: 10px;
    position : fixed;
    bottom : 5px;
}
