#btn_login {
    font-weight: bold;
    cursor: pointer;
}

#login {
    position: absolute;
    top: 8%;
    left: 84%;
    width: 200px;
    height: 200px;
    border: 2px solid #596A85;
    border-radius: 5%;
}

#login_form {
    font-size: 20px;
    text-align: left;
    margin-top: 36%;
    margin-left: 3%;
}

#id, #pw {
    font-size: 15px;
}

#btn_loginn {
    position: absolute;
    top: 69%;
    left: 34%;
    font-size: 15px;
}