#btn_myProfile {
    font-weight: bold;
}
#btn_login {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    padding-right: 0px;
}

#myProfile {
    background-color: #CCD2DD;
    margin-top: 10px;
    height: 555px;
}

#top {
    box-sizing: border-box;
    width: 370px;
    height: 201px;
    background-color: #E5E9EE;
    margin: 20px;
    margin-bottom: 0px;
}

#bottom {
    box-sizing: border-box;
    width: 370px;
    height: 297px;
    background-color: #AAB5C6;
    margin: 20px;
    margin-top: 0px;
}

#circle {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-color: #596A85;
    position: absolute;
    top: 35%;
    left: 10%;
}

#user {
    font-size: 55px;
    position: absolute;
    top: 54%;
    left: 13%;
}

#buttonSet {
    position: absolute;
    top: 75%;
    left: 6.6%;
}

#button1 {
    background: url(images/sns.jpg) no-repeat;
    border: none;
    cursor:pointer;
}
#button2 {
    background: url(images/github.jpg) no-repeat;
    border: none;
    cursor:pointer;
}
#button3 {
    background: url(images/mail.jpg) no-repeat;
    border: none;
    cursor:pointer;
}

#sns_img, #github_img, #mail_img {
    width: 90px;
    height: 90px;
}

#profile {
    background-color: #AAB5C6;
    margin: 20px;
    margin-left: -10px;
    font-size: 25px;
    height: 498px;
    padding-left: 40px;
    padding-right: 25px;
    font-weight: bold;
}

#profile p {
    font-size: 45px;
    margin: 10px;
    margin-left: 0px;
    line-height: 200%;
}

#name, #id {
    line-height: 157%;
    padding-right: 10px;
}

#pwd {
    line-height: 157%;
}

#name input[type=text] {
    border: #808080 2px solid;
    font-size: 25px;
    background: none;
    width: 85%;
    height: 100%;
}
#id input[type=text] {
    border: #808080 2px solid;
    font-size: 25px;
    background: none;
    width:  85%;
    height: 100%;
}
#pwd input[type=password] {
    border: #808080 2px solid;
    font-size: 25px;
    background: none;
    width: 95%;
    height: 100%;
}

#address {
    line-height: 326%;
}
#address input[type=text] {
    border: #808080 2px solid;
    font-size: 25px;
    background: none;
    width: 86.4%;
    height: 100%;
}


#job {
    line-height: 134%;
}
#job input[type=text] {
    border: #808080 2px solid;
    font-size: 25px;
    background: none;
    width: 92%;
    height: 100%;
}

#aboutMe textarea {
    border: #808080 2px solid;
    font-size: 25px;
    background: none;
    width: 98.4%;
    height: 225%;
    line-height: 226%;
    margin-top: 24px;
}
input::placeholder {color:black;}
textarea::placeholder {color:black;}

#saveB, #logoutB, #withdrawalB {
    border: none;
    background-color: #E5E9EE;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 22px;
}

#save {
    position: absolute;
    top: 78%;
    left: 82.5%;
    width: 10%;
    height: 5%;
}

#logout {
    position: absolute;
    top: 85.3%;
    left: 71.5%;
    width: 10%;
    height: 5%;
}

#withdrawal {
    position: absolute;
    top: 85.3%;
    left: 82.5%;
    width: 10%;
    height: 5%;
}

