#btn_write {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    padding-left: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}

#write_search {
    background: #AAB5C6;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#write_search input[type=text] {
    border: none;
    font-size: 22px;
    background: #AAB5C6;
    width: 100%;
    height: 100%;
}

#write_new {
    background: #AAB5C6;
    width: 23%;
    margin-left: 10px;
    margin-top: 10px;
}

#new {
    background-color: #AAB5C6;
    width: 100%;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor:pointer;
}

#write_diary {
    background-color: #CCD2DD;
    width: 65%;
    height: 475px;
    font-size: 40px;
    margin-right: 14px;
    padding-left: 13px;
}

#write_diary p {
    margin-top: -3px;
    padding-left: 11px;
    margin-bottom: 13px;
}

#write_diary .diary {
    font-size: 0px;
    border-width: 1px;
    border-collapse: collapse;
    margin-right: 12px;
}

.diary tbody {
    line-height: 10px;
}

#write_diary .diary tr, td {
    border-width: 1px;
    border-style: solid;
}

#write_diary .diary tbody td {
    font-size: 20px;
    padding: 10px;
}

#write_diary .diary tbody td {
    font-size: 17px;
    padding: 10px;
}

#write_diary .diary tfoot td {
    font-size: 17px;
    padding: 10px;
}

.diary img {
    width: 300px;
    height: 275px;
    transition: all 0.2s linear;
}

.diary:hover img {
    transform: scale(1.1);
}

#diarys {
    height: 100%;
}

#write_anything {
    background-color: #CCD2DD;
    width: 33%;
    height: 475px;
    font-size: 40px;
    margin-top: 0px;
    padding-left: 13px;
}

#write_anything p {
    margin-top: -3px;
    padding-left: 11px;
    margin-bottom: 13px;
}

#write_anything #anything {
    width: 100%;
    height: 100%;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

#write_anything #anything td {
    border-width: 1px;
    border-style: solid;
    padding: 10px
}
