#btn_write {
    font-weight: bold;
}

/* section {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#write_search {
    display: inline-block;
    background: #AAB5C6;
    width: 75%;
    display: absolute;
    top: 100px;
}

#write_search input[type=text] {
    display: inline-block;
    border: none;
    font-size: 24px;
    background: #AAB5C6;
    width: 100%;
    height: 100%;
}


#new_write {
    display: inline-block;
    background-color: #AAB5C6;
    width: 23%;
    height: 50px;
    border: none;
    font-size: 24px;
} */

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    /* padding: 13px; */
    padding-left: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* width: calc(100% / 2); */
    padding: 10px;
    /* padding-left: 0px; */
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* width: calc(100% / 2); */
    padding: 10px;
    /* padding-left: 0px; */
}

#write_search {
    background: #AAB5C6;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#write_search input[type=text] {
    border: none;
    font-size: 22px;
    background: #AAB5C6;
    width: 100%;
    height: 100%;
}

#write_new {
    background: #AAB5C6;
    width: 23%;
    margin-left: 10px;
    margin-top: 10px;
}

#new {
    background-color: #AAB5C6;
    width: 100%;
    border: none;
    font-size: 22px;
    font-weight: bold;
    /* margin-left: 20px; */
}

#write_diary {
    background-color: #CCD2DD;
    width: 65%;
    height: 475px;
    font-size: 40px;
    margin-right: 14px;
    padding-left: 13px;
    /* padding-top: 0px; */
}

#write_diary p {
    margin-top: -3px;
    padding-left: 11px;
    margin-bottom: 13px;
}

#write_diary .diary {
    width: 60%;
    height: 100%;
    /* font-size: 17px; */
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

#write_diary .diary tr, td {
    border-width: 1px;
    border-style: solid;
    /* padding: 0px; */
}

#write_diary .diary tbody td {
    font-size: 20px;
    padding: 10px;
}

/* #write_diary .diary tbody {
    font-size: 20px;
    padding: 10px;
} */

#write_diary .diary tfoot {
    font-size: 17px;
    /* text */
}

.diary img {
    width: 300px;
    height: 275px;
}

#write_anything {
    background-color: #CCD2DD;
    width: 33%;
    height: 475px;
    /* margin-left: 35px; */
    font-size: 40px;
    margin-top: 0px;
    padding-left: 13px;
}

#write_anything p {
    margin-top: -3px;
    padding-left: 11px;
    margin-bottom: 13px;
}

#write_anything #anything {
    width: 100%;
    height: 100%;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

#write_anything #anything td {
    border-width: 1px;
    border-style: solid;
    padding: 10px
}
